<p id="notice"><%= notice %></p>
<h1>Showing One Organization</h1>
<p>
  <strong>Street:</strong>
  <%= @org.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @org.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @org.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @org.zip %>
</p>

<p>
  <strong>Name:</strong>
  <%= @org.name %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @org.rating %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @org.phone_number %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @org.contact_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @org.email %>
</p>

<%= link_to 'Edit', edit_org_path(@org) %> |
<%= link_to 'Back', orgs_path %>
