<p id="notice"><%= notice %></p>
    <div class="container">
      <div class="row" id="section">
        <div class="col-med-6">
            <h1><%= @org.name %></h1>
          <ul>
            <li>
              <strong> <%= @org.street %> </strong>
            </li>
            <li>
              <strong> <%= @org.city %> <%= @org.state %> <%= @org.zip %> </strong>
            </li>
            <li>
              <strong>  Rating:  </strong> <%= @org.rating %>
            </li>
            <li>
            <strong>  Phone number:  </strong><%= link_to @org.phone_number %>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
            <div id="map">

            </div>
        </div>
      </div>
    </div>
    <div>

      <%= link_to 'Back', orgs_path %>
    </div>
