
<div class="container">
  <div class="row">
    <div class="col-md-6 search-container">
      <%= search_form_for @q do |f| %>
        <div class="form-group" id="section">
          <h1>Search Activities</h1>
          <%= f.search_field :name_or_desc_or_org_name_cont, :placeholder => "search by activity" , :class => "form-control" %>
          <br>
          <%= f.search_field :org_zip_in, :placeholder => "or search by zipcode" , :class => "form-control" %>
          <div class="actions">
          <%= f.submit %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-6 search-container">
      <%= search_form_for @q do |f| %>
        <div class="form-group" id="section">
          <ul>
            <li>
            <%= link_to "Start Listing Your Classes on ELLYN!", "/orgs/new/" , :class => "form-control" %>
            </li>
          </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row" id="results">
    <div class="col-md-6">
      <div class="panel panel-default table-top">
          <table>
            <thead>
              <% if @activities.empty? %>
                <h3>No activities found.</h3>
              <% else %>
                <tr>
                  <th>Organization</th>
                  <th>Event</th>
                  <th>Description</th>
                </tr>
              <% end %>
            </thead>
            <tbody>
              <% @activities.each do |activity| %>
              <tr>
                <td class="coords" data-lat="<%= activity.latitude %>" data-lon="<%=activity.longitude %>"><%= link_to activity.org.name, "/orgs/#{activity.org_id}" %> <%= @activity %></a></td>
                <td><%= link_to activity.name %></td><td><%= activity.desc %></td>
              </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>


    <div class="col-md-6">
        <div id="map"></div>
    </div>
  </div>
</div>

