<h1>Search Activities</h1>

<%= search_form_for @q do |f| %>

  <div class="form-group">
    <%= f.label :name_cont %>
    <%= f.text_field :name_cont, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name_or_desc_cont %>
    <%= f.text_field :name_or_desc_cont, :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<table>
  <thead>
    <tr>
      <th>Org</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.org.street %></td>
        <td><%= activity.name %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render "show_map" %>
<%= link_to 'New Activity', new_activity_path %>
