<h1>Search Activities</h1>
  <div class="form-group">
    <%= f.label :director_name_cont %>
    <%= f.text_field :director_name_cont, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :actors_name_or_actors_bio_cont %>
    <%= f.text_field :actors_name_or_actors_bio_cont, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :actors_id_eq, "Actor" %>
    <%= f.select :actors_id_eq, options_from_collection_for_select(Actor.all, :id, :name, @q.actors_id_eq), { :include_blank => true }, :class => "form-control" %>
  </div>
<table>
  <thead>
    <tr>
      <th>Org</th>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.org.street %></td>
        <td><%= activity.name %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
